<div>
    <table>
        <tr>
            <td>
                <strong>
                    Tu eres:
                </strong>
            </td>
            <td>
                <input type="text" ng-model="nombre" width="100%">
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    Tu apellido:
                </strong>
            </td>
            <td>
                <input type="text" ng-model="apellido" width="100%">
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    Quien no Soy?
                </strong>
            </td>
            <td>
                {{nombre}}, {{apellido}}
            </td>
        </tr>
    </table>
</div>
    