<div>
    <table>
        <tr>
            <td>
                <strong>
                    Juan
                </strong>
            </td>
            <td>
                <input type="radio" ng-model="nombre" width="100%" value="Juan">                
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    Marcos
                </strong>
            </td>
            <td>
                <input type="radio" ng-model="nombre" width="100%" value="Marcos">                
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    Otro
                </strong>
            </td>
            <td>
                <input type="radio" ng-model="nombre" width="100%" value="Otro">                
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    Data : 
                </strong>
            </td>
            <td >
                <strong>
                    {{nombre}}  
                </strong>                
            </td>
        </tr>
    </table>
</div>
    