<div>
    <table>
        <tr>
            <td>
                <strong>
                    Nombre:
                </strong>
            </td>
            <td>
                <select ng-model="nombre">
                    <option value="juan">juan</option>
                    <option value="marcos">marcos</option>
                    <option value="luna">luna</option>
                    <option value="otro">otro</option>
                </select>
            </td>
        </tr>
        
        <tr>
            <td>
                <strong>
                    Seleccionado : 
                </strong>
            </td>
            <td >
                <strong>
                    {{nombre}}  
                </strong>                
            </td>
        </tr>
    </table>
</div>
    